.container {
  text-align: center;
}

#dropdownMenu2 {
  height: 50px;
  width: 220px;
  float: left;
}

#dropdownMenu3 {
  height: 50px;
  width: 220px;
  float: right;
}

/* Checking css connected to html */

body {
  background-image: url("ent5.jpg");
  background-size: cover;
}

html {
  height: 100%;
}

.footer {
  background-color: rgb(48, 47, 47);
  color: cornsilk;
  position: fixed;
  bottom: 0;
  width: 100%;
  margin: auto;
  height: 2.5rem;
}

#privacy {
  text-align: center;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 1rem;
}

/* YELP STUFF | THIS CAN BE DELETED */
.wrapperOne {
  color: black;
  float: left;
}

#formOne {
  display: flex;
  justify-content: center;
}

/* END OF YELP STUFF
​
/* Small devices (landscape phones, 576px and up) */
