body {
  background-image: url("ent1.jpg");
  background-size: cover;
}

.footer {
  background-color: rgb(48, 47, 47);
  color: cornsilk;
  position: absolute;
  bottom: 0;
  width: 100%;
  margin: auto;
  height: 2.5rem;
}

#privacy {
  text-align: center;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 1rem;
  position: sticky;
}

.card {
  margin: 40px auto;
  text-align: center;
  display: inline-block;
}

.column {
  /* float: left; */
  width: 50%;
  padding: 10px;
  margin: 22px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

img {
  margin-right: 35px;
}

.card-body {
  background-color: rgba(169, 169, 169, 0.473);
}
​

/* Small devices (landscape phones, 576px and up) */

@media (min-width: 576px) {
}

​
/* Medium devices (tablets, 768px and up) */

@media (min-width: 768px) {
}

​
/* Large devices (desktops, 992px and up) */

@media (min-width: 992px) {
}

​
/* Extra large devices (large desktops, 1200px and up) */

@media (min-width: 1200px) {
}
