.container {
  text-align: center;
}
s #formOne {
  float: left;
  margin: 1em auto auto 1.25em;
}
s #dropdownMenu2 {
  height: 50px;
  width: 15em;
  float: left;
  margin: auto auto auto 1em;
}

#dropdownMenu3 {
  height: 50px;
  width: 15em;
  float: right;
  margin: auto 1em auto auto;
}

#outputRow {
  margin: 1em 1em auto 1em;
}

.wrapperTwo {
  border: 1px 1px 1px 1px;
  border-color: brown;
}

/* Checking css connected to html */

body {
  background-image: url("ent5.jpg");
  background-size: cover;
}

html {
  height: 100%;
}

.footer {
  background-color: rgb(48, 47, 47);
  color: cornsilk;
  position: fixed;
  bottom: 0;
  width: 100%;
  margin: auto;
  height: 2.5rem;
}

#privacy {
  text-align: center;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 1rem;
}

/* YELP STUFF | THIS CAN BE DELETED */
.wrapperOne {
  color: black;
  float: left;
}

#formOne {
  display: flex;
  justify-content: center;
}

/* END OF YELP STUFF
​
/* Small devices (landscape phones, 576px and up) */
