body {
  background-image: url("ent1.jpg");
  background-size: cover;
}

html {
  height: 100%;
}

.footer {
  background-color: rgb(48, 47, 47);
  color: cornsilk;
  position: fixed;
  bottom: 0;
  width: 100%;
  margin: auto;
  height: 2.5rem;
}

#privacy {
  text-align: center;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 1rem;
}

.card {
  margin: 40px auto;
  text-align: center;
  display: inline-block;
}

.column {
  /* float: left; */
  width: 50%;
  padding: 10px;
  margin: 22px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

img {
  margin-right: 35px;
}

.card-body {
  background-color: rgba(169, 169, 169, 0.473);
}
​